<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" height="300vh" src="https://naac.gov.in/images/banner/23_3_3_b.jpg"
                alt="First slide">
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" height="300vh"
                src="https://naac.gov.in/images/banner/aop_20_21_2023.jpg" alt="Second slide">
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" height="300vh" src="images/naacBanner.png" alt="Third slide">
        </div>
        <div class="carousel-item ">
            <img class="d-block w-100" height="300vh" src="https://naac.gov.in/images/campus.jpg"
                alt="Fourth slide">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </button>
    </div>
</div>