<% layout('layouts/boilerplate') %>
    <%- include('./partials/flash')%>
        <div class="col-10 offset-1 mt-3">
            
            <!-- Picture carousel -->
            <%- include('./partials/carousel')%>

            <!-- Welcome -->
            <div class="mt-5">
                <h2 class="fw-bold text-center">ABOUT NAAC</h2>
                <p class="text-center">
                    The NATIONAL ASSESSMENT AND ACCREDITATION COUNCIL (NAAC) conducts assessment and accreditation of Higher Educational Institutions (HEI) such as colleges, universities or other recognised institutions to derive an understanding of the ‘Quality Status’ of the institution. NAAC evaluates the institutions for its conformance to the standards of quality in terms of its performance related to the educational processes and outcomes, curriculum coverage, teaching-learning processes, faculty, research, infrastructure, learning resources, organisation, governance, financial well being and student services.
                </p>
            </div>
            <!-- vision -->
            <div class="mt-5 text-center">
                <h2 class="fw-bold text-center">VISION</h2>
                <p>
                    To make quality the defining element of higher education in India through a combination of self and external quality evaluation, promotion and sustenance initiatives
                </p>
            </div>

            <!-- Mission -->
            <div class="mt-5">
                <h2 class="fw-bold text-center">MISION</h2>
                <p>
                    <ul>
                        <li>
                            To arrange for periodic assessment and accreditation of institutions of higher education or units thereof, or specific academic programmes or projects;

                        </li>
                            To stimulate the academic environment for promotion of quality of teaching-learning and research in higher education institutions;
                            To encourage self-evaluation, accountability, autonomy and innovations in higher education;
                        <li>
                            To undertake quality-related research studies, consultancy and training programmes,and
                        </li>

                        <li>
                            To collaborate with other stakeholders of higher education for quality evaluation, promotion and sustenance.
                        </li>
                    </ul>
                </p>
            </div>
        </div>