<% layout('layouts/boilerplate') %>
    <%- include('./partials/flash')%>

    <div class="container col-8 offset-2">
        <h1 class="text-center my-3 mb-5">Contact Us</h1>
    <div class="row">

        <!-- left -->
        <div class="col">
            <p>
                <span class="fw-bold">National Assessment and Accreditation Council</span>
                <br>
                P.O. Box No. 1075, Nagarbhavi, Bangalore - 560072, Karnataka, India
            </p> 
            
            <br>
            
            <p>
                <span class="fw-bold">NAAC Office,New Delhi</span>
                <br>
                Post Box No : 10502, IUAC Campus, Aruna Asaf Ali Marg, 
                New Delhi-110067.
            </p>
            
            <br>
            
            <p>
                <span class="fw-bold">Phone:</span>
                <br>
                +91- 11- 24126092, 24126093, 24126095
            </p>
            
            <br>

            <p>
                <span class="fw-bold">Email:</span>
                <br>
                naacoffice.delhi@gmail.com
            </p>

            <br>

            <p>
                <span class="fw-bold">General Queries</span>
                <br>
                +91-080-23005111
            </p> 

        </div>
        <!-- right -->
        <div class="col">
            
           <p>
                <span class="fw-bold">Call Centre / FMC</span>
                <br>
                080- 23005200 <br> naacfmc@gmail.com
            </p>
            
            <br>

            <p>
                <span class="fw-bold">Call Centre Timing</span>
                <br>
                9.15 am to 1:00 pm and 1:30 pm to 5.45 pm on all days except Saturdays, Sundays and government holidays
            </p>
            
            <br>

            <p>
                <span class="fw-bold">Help Desk<span>
                <br>
                +91-080-23005192, 193
            </p>
            <br>
            <p>
                <span class="fw-bold">Help Desk Email</span>
                    <br>
                    naachelpdesk@gmail.com
            </p>
            
        </div>
    </div>
    </div>