<% layout('layouts/boilerplate') %>
    <%- include('./partials/flash')%>
        <div class="col-10 offset-1 mt-3">
            
            <!-- Picture carousel -->
            <%- include('./partials/carousel')%>

            <!-- Welcome -->
            <div class="mt-5 text-center">
                <h2 class="fw-bold">WELCOME TO NAAC</h2>
                <p>
                    India has one of the largest and diverse education systems in the world. Privatization, widespread expansion, increased autonomy and introduction of Programmes in new and emerging areas have improved access to higher education. At the same time, it has also led to widespread concern on the quality and relevance of the higher education. To address these concerns, the National Policy on Education (NPE, 1986) and the Programme of Action (PoA, 1992) spelt out strategic plans for the policies, advocated the establishment of an independent National accreditation agency. Consequently, the National Assessment and Accreditation Council (NAAC) was established in 1994 as an autonomous institution of the University Grants Commission (UGC) with its Head Quarter in Bengaluru. The mandate of NAAC as reflected in its vision statement is in making quality assurance an integral part of the functioning of Higher Education Institutions (HEIs).
                    <br>
                    The NAAC functions through its General Council (GC) and Executive Committee (EC) comprising educational administrators, policy makers and senior academicians from a cross-section of Indian higher education system. The Chairperson of the UGC is the President of the GC of the NAAC, the Chairperson of the EC is an eminent academician nominated by the President of GC (NAAC). The Director is the academic and administrative head of NAAC and is the member-secretary of both the GC and the EC. In addition to the statutory bodies that steer its policies and core staff to support its activities NAAC is advised by the advisory and consultative committees constituted from time to time.
                </p>
                <img src="https://naac.gov.in/images/docs/naac_25/naac-sj-logo.png" alt="logo">
            </div>
        </div>